<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자바스크립트 끗말잇기</title>
  </head>
  <body>
    <div><span id="order">1</span>번째 참가자</div>
    <div>제시어 : <span id="word"></span></div>
    <input type="text" id="text1" />
    <button id="inputBtn">입력</button>
  </body>
</html>

<script>
  //  var member = prompt("몇명이 참가하나요?");
  //  console.log(member + "명");
  const clickButton = () => {
    console.log("버튼 클릭");
  };
  const $button = document.getElementById("inputBtn");
  $button.addEventListener("click", clickButton);

  const inputValue = (e) => {
    console.log("값 : ", e.target.value);
  };

  const $input = document.getElementById("text1");
  $input.addEventListener("change", inputValue);
</script>
