<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>식물 선택 화면(로딩)</title>
    <style>
      html,
      body,
      center {
        height: 100%;
      }
      p {
        margin: 0;
      }
      .plz {
        width: 350px;
        margin-top: 10px;
      }
      .main {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
      }
    </style>
  </head>
  <body>
    <center>
      <div class="main">
        <img
          src="https://i.ibb.co/G30p42p/plant.png"
          class="plant"
          alt="plant"
          style="
            border-radius: 50%;
            border: solid 5px;
            width: 238px;
            border-color: #cec6c6;
            margin-top: 50px;
          "
        />
        <div class="plz">
          <p style="font-size: xx-large; font-weight: bold; text-align: left">
            1단계,<br />
            발아과정을 진행합니다
          </p>
          <button
            style="
              width: 298px;
              height: 41px;
              background-color: #91cf81;
              color: white;
              border-radius: 28px;
              margin-top: 25px;
            "
          >
            <p style="font-weight: bold; font-size: large">시작하기</p>
          </button>
        </div>
      </div>
    </center>
  </body>
</html>
