<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>식물 선택 화면</title>
  </head>
  <body>
    <div>
      <center>
        <img
          src="https://i.ibb.co/gvWN10k/play-button.png"
          class="playbutton"
          alt="play-button"
          border="0"
        />
        <h1>심어보기</h1>
      </center>
    </div>
    <center>
      <img
        src="https://i.ibb.co/G30p42p/plant.png"
        class="plant"
        alt="plant"
        border="0"
      />
    </center>
    <br />
    <center>
      <div class="plz">
        <p style="font-size: xx-large; font-weight: bold; text-align: left">
          당근씨를<br />
          5cm 아래에 넣어주세요
        </p>
        <br />
        <button
          type="button"
          style="
            width: 298px;
            height: 41px;
            background-color: #91cf81;
            color: white;
            border-radius: 28px;
          "
          onclick="location.href='plant_select_screen2.html'"
        >
          <p style="font-weight: bold; font-size: large">완료했습니다</p>
        </button>
      </div>
    </center>
  </body>
</html>
<style>
  p {
    margin: 0;
  }
  h1 {
    font-size: xx-large;
    /* margin-left: 570px; */
    width: 250px;
    display: inline;
  }
  .playbutton {
    margin-top: 0px;
    float: left;
  }
  .plz {
    width: 350px;
  }
</style>
